html,body{
    height: 100%;
}
div,h3,p,html,body{
    padding: 0;
    margin: 0;
}
body {
    background: url("bg.jpg") repeat fixed center 0 / cover  rgba(0, 0, 0, 0);
    font-family: 'Lato',sans-serif;
}
h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 90px;
    margin: 10% 0 20px;
    text-align: center;
    text-transform: uppercase;
}
.half{
  background:none repeat scroll 0 0 rgba(228, 221, 202,0.9);
    padding: 40px 0;
}
.half2 {
    color: #CCCCCC;
    padding: 50px 0;
    text-align: center;
}
.half3 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    color: #BDC3C7;
    padding: 50px 0;
}
#map-canvas > img {
    border-radius: 10px;
      max-width: 100%;
}
.warp {
    margin: 0 auto;
    max-width: 100%;
    width: 960px;
}
p {
    margin: 0;
}
.info {
    background: none repeat scroll 0 0 rgba(26, 188, 156, 0.8);
    border: 2px solid;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 220px;
}
.first {
    box-shadow: 0 0 50px #000000 inset;
    height: 85%;
     max-height: 600px;
}
.antal {
    font-size: 40px;
}
h3 {
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    text-transform: uppercase;
}
ul li a span {
  background: none repeat scroll 0 0 #FFDC00;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    margin-right: 4px;
    padding: 9px;
}
ul {
    list-style: none outside none;
    margin: 40px auto 0;
    padding: 0;
    width: auto;
}
.warp > h2 {
    color: #FFFFFF;
    font-size: 20px;
    padding-bottom: 20px;
}
.half .warp,.half3 .warp {
    text-align: center;
}
li:nth-child(1) > a > span {
    background: #ffdc00;
}
li:nth-child(2) > a > span {
    background: #ff851b;
}
li:nth-child(3) > a > span {
    background: #7fdbff;
}
li:nth-child(4) > a > span {
    background: #ff4136;
}
li:nth-child(5) > a > span {
    background: #85144b;
}
li:nth-child(6) > a > span {
    background: #f012be;
}
li:nth-child(7) > a > span {
    background: #b10dc9;
}
li:nth-child(8) > a > span {
    background: #001f3f;
}
li:nth-child(9) > a > span {
    background: #0074d9;
}
li:nth-child(10) > a > span {
    background: #39cccc;
}
li > a {
   background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #FFFFFF;
    display: inline-block;
    line-height: 40px;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
}
li a {
    color: #222222;
    text-decoration: none;
}
a{
    color: #fff;
}
.devteam {
    background:none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    color: #DDDDDD;
    display: inline-block;
    margin: 1%;
    padding: 3% 1%;
    width: 30%;
}
.devteam h4 span {
    font-size: 13px;
    font-weight: normal;
}
.devteam > img {
    border-radius: 50%;
    max-width: 100%;
    width: 150px;
}
.devteam a {
    margin: 4px;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
.wow{
    outline: 1px solid transparent;
}
.hjul {
    animation: 3s linear 0s normal none infinite hjul;
}
@keyframes hjul {
  0%{
     transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}