html,body{
    height: 100%;
}
div,h3,p,html,body{
    padding: 0;
    margin: 0;
}
a{
  text-decoration: none;  
  color: #2153ea;
   outline: medium none;
}
li a {
    color: #222;
    text-decoration: none;
}
li a:visited {
    color: #444444;
}
a:hover {
    color: #000;
}
ul {
    list-style: none outside none;
    padding: 0;
}
li > a {
    background: none repeat scroll 0 0 #EEEEEE;
    display: inline-block;
    margin: 5px 0;
    padding: 5px;
}
body {
    background-color: #d6cec3;
     background: -webkit-linear-gradient(#d6cec3,#e4ddca);
    background: -moz-linear-gradient(#d6cec3,#e4ddca);
    background: -o-linear-gradient(#d6cec3,#e4ddca);
    background: -ms-linear-gradient(#d6cec3,#e4ddca);
    background: linear-gradient(#d6cec3,#e4ddca);
    font-family: 'Lato', sans-serif;
}
h1 {
    color: #FFFFFF;
    font-size: 36px;
    letter-spacing: 4px;
    margin: 50px 0;
    text-shadow: 0 0 2px #999999;
    text-transform: uppercase;
}
h3 {
    background: none repeat scroll 0 0 #2ECC71;
    border-radius: 10px 10px 0 0;
    color: #ECF0F1;
    display: inline-block;
    font-weight: 400;
    padding: 10px;
    width: 280px;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
ul li a span {
    background:#55EFCB;
    background: linear-gradient(#55EFCB, #5BCAFF) repeat scroll 0 0 transparent;
    box-shadow: 0 -5px 2px -3px;
    padding: 9px;
    margin-right: 4px;
}
li:nth-child(1) > a > span {
    -webkit-box-shadow: 0 -5px 2px -3px red;
    box-shadow: 0 -5px 2px -3px red;
}
li:nth-child(2) > a > span {
    -webkit-box-shadow: 0 -5px 2px -3px green;
    box-shadow: 0 -5px 2px -3px green;
}
li:nth-child(3) > a > span {
    -webkit-box-shadow: 0 -5px 2px -3px purple;
    box-shadow: 0 -5px 2px -3px purple;
}
li:nth-child(4) > a > span {
    -webkit-box-shadow: 0 -5px 2px -3px yellow;
    box-shadow: 0 -5px 2px -3px yellow;
}
li:nth-child(5) > a > span {
    -webkit-box-shadow: 0 -5px 2px -3px blue;
    box-shadow: 0 -5px 2px -3px blue;
}
li:nth-child(6) > a > span {
    -webkit-box-shadow: 0 -5px 2px -3px gray;
    box-shadow: 0 -5px 2px -3px gray;
}
.info{
    text-align: center;
}
.info div {
    line-height: 90px;
    margin-bottom: 30px;
}
#map-canvas{
    text-align: center;
}
#map-canvas img{
      box-shadow: 0 0 4px #555555;
    margin: 20px 0;
           animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
.warp {
    line-height: 25px;
    margin: 0 auto;
    max-width: 100%;
    width: 940px;}
.antal{
    background-color: #55EFCB;
    background: -webkit-linear-gradient(#55EFCB, #5BCAFF) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(#55EFCB, #5BCAFF) repeat scroll 0 0 transparent;
    background: -o-linear-gradient(#55EFCB, #5BCAFF) repeat scroll 0 0 transparent;
    background: -ms-linear-gradient(#55EFCB, #5BCAFF) repeat scroll 0 0 transparent;
    background: linear-gradient(#55EFCB, #5BCAFF) repeat scroll 0 0 transparent;
    -webkit-box-shadow: 0 8px 10px 2px rgba(0, 0, 0, 0.1), 0 30px 15px -5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 8px 10px 2px rgba(0, 0, 0, 0.1), 0 30px 15px -5px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    display: block;
    font-size: 75px;
    margin: 0 auto;
    padding: 10px;
    text-shadow: 0 0 4px #888888;
    width: 280px;
}
.btn {
   background: -webkit-linear-gradient(#F3F3F4, #C5C5C5) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(#F3F3F4, #C5C5C5) repeat scroll 0 0 transparent;
    background: -o-linear-gradient(#F3F3F4, #C5C5C5) repeat scroll 0 0 transparent;
    background: -ms-linear-gradient(#F3F3F4, #C5C5C5) repeat scroll 0 0 transparent;
    background: linear-gradient(#F3F3F4, #C5C5C5) repeat scroll 0 0 transparent;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6), 0 0 2px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.4) inset, 0 4px 5px rgba(0, 0, 0, 0.02);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6), 0 0 2px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.4) inset, 0 4px 5px rgba(0, 0, 0, 0.02);
    color: #484747;
    display: block;
    font-size: 0.9em;
    height: 33px;
    line-height: 33px;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    width: 200px;
}
.btn:hover {
    /*linear-gradient*/
    background: -webkit-gradient(linear,left top,left bottom,from(#c5c5c5),to(#f3f3f4));
    background: -webkit-linear-gradient(#c5c5c5,#f3f3f4);
    background: -moz-linear-gradient(#c5c5c5,#f3f3f4);
    background: -o-linear-gradient(#c5c5c5,#f3f3f4);
    background: linear-gradient(#c5c5c5,#f3f3f4);
    /*box-shadow*/
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.9),inset 0 2px 3px rgba(0,0,0,.2),0 1px 1px rgba(255,255,255,.9);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.9),inset 0 2px 3px rgba(0,0,0,.2),0 1px 1px rgba(255,255,255,.9);
    box-shadow: 0 0 2px rgba(0,0,0,.9),inset 0 2px 3px rgba(0,0,0,.2),0 1px 1px rgba(255,255,255,.9);
    line-height: 2.5;
} 

@keyframes fadein {from {margin-top:-10px; opacity:0; } to {margin-top:0 opacity:1; } } @-moz-keyframes fadein { /* Firefox */ from {margin-top:-10px; opacity:0; } to {margin-top:0 opacity:1; } } @-webkit-keyframes fadein { /* Safari and Chrome */ from {margin-top:-10px; opacity:0; } to {margin-top:0 opacity:1; } } @-o-keyframes fadein { /* Opera */ from {margin-top:-10px; opacity:0; } to {margin-top:0; opacity: 1; } }​